

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    min-height: 400px;
    align-items: center;
}

.header-text{
    color: white;
    height: 10%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    animation: wiggle 2.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(3deg); }
   95% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

